<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="org.procto.Utilities.ExtentReport"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="Procto App TestCases">
        <classes>
            <class name="org.procto.testcases.LoginPage_Test"/>
            <class name="org.procto.testcases.HomePage_Test"/>
            <class name="org.procto.testcases.HealthWellnessPage_Test"/>
            <class name="org.procto.testcases.SignupPage_Test"/>
        </classes>
    </test>
</suite>